[Unit]
Description=The timer of ActivityPub outbox to Bluesky posts
ConditionPathExists=/var/lib/ap-outbox2bsky-post

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
