[Unit]
Description=Prometheus exporter for Redis metrics
Documentation=https://github.com/oliver006/redis_exporter man:prometheus-redis-exporter(1)

[Service]
Restart=on-failure
User=prometheus
EnvironmentFile=/etc/default/prometheus-redis-exporter
ExecStart=/usr/bin/prometheus-redis-exporter \
  -web.listen-address "$LISTEN_ADDRESS" \
  -redis.addr "$REDIS_ADDRESS" \
  -redis.password "$REDIS_PASSWORD" \
  $EXTRA_ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
