[ req ]
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca
prompt              = no

[ req_distinguished_name ]
C             = {{ private_ca_root_country_name }}
ST            = {{ private_ca_root_state_or_province_name }}
L             = {{ private_ca_root_locality_name }}
O             = {{ private_ca_root_organization_name }}
OU            = {{ private_ca_root_organizational_unit_name }}
CN            = {{ private_ca_root_common_name }}

[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical,CA:true
keyUsage                = cRLSign, keyCertSign
