[ req ]
distinguished_name  = req_distinguished_name
x509_extensions     = ca_ext
prompt              = no

[ req_distinguished_name ]
C             = {{ private_ca_country_name }}
ST            = {{ private_ca_state_or_province_name }}
L             = {{ private_ca_locality_name }}
O             = {{ private_ca_organization_name }}
OU            = {{ private_ca_organizational_unit_name }}
CN            = {{ private_ca_root_common_name }}

[ ca_ext ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer:always
basicConstraints        = critical, CA:TRUE
keyUsage                = critical, digitalSignature, cRLSign, keyCertSign
