[Unit]
Description=Prometheus exporter for StatsD
Documentation=https://github.com/prometheus/statsd_exporter

[Service]
Restart=always
User=prometheus
EnvironmentFile=/etc/default/prometheus-statsd-exporter
ExecStart=/usr/bin/prometheus-statsd-exporter \
  --web.listen-address "$WEB_LISTEN_ADDRESS" \
  --statsd.listen-udp "$STATSD_LISTEN_UDP_ADDRESS" \
  --statsd.listen-tcp "$STATSD_LISTEN_TCP_ADDRESS" \
  --statsd.mapping-config "$MAPPING_CONFIG" \
  --log.level debug \
  $EXTRA_ARGS
StandardOutput=file:/var/log/prometheus/prometheus-statsd-exporter.log

[Install]
WantedBy=multi-user.target
