[Unit]
Description=Prometheus Elasticsearch exporter
Documentation=https://github.com/justwatchcom/elasticsearch_exporter
After=network.target

[Service]
User=prometheus
EnvironmentFile=/etc/default/prometheus-elasticsearch-exporter
EnvironmentFile=/etc/default/prometheus-elasticsearch-exporter.private
ExecStart=/usr/bin/prometheus-elasticsearch-exporter \
  --web.listen-address "$LISTEN_ADDRESS" \
  --es.uri "$ELASTICSEARCH_URI" \
  --es.ca "$ELASTICSEARCH_CA_FILE" \
  --es.all \
  --es.cluster_settings \
  --es.indices \
  --es.indices_settings \
  --es.shards \
  $EXTRA_ARGS

[Install]
WantedBy=multi-user.target
