[Unit]
Description=Prometheus Elasticsearch exporter
Documentation=https://github.com/justwatchcom/elasticsearch_exporter
After=network.target

[Service]
User=prometheus
EnvironmentFile=/etc/default/prometheus-elasticsearch-exporter
ExecStart=/usr/bin/prometheus-elasticsearch-exporter \
  --web.listen-address "$LISTEN_ADDRESS" \
  --es.uri "$ELASTICSEARCH_URI" \
  --es.ca "$ELASTICSEARCH_CA_FILE" \
  --es.cluster_settings true \
  --es.indices true \
  --es.indices_settings true \
  --es.indices_mappings true \
  --es.shards true \
  $EXTRA_ARGS

[Install]
WantedBy=multi-user.target
