[Unit]
Description=mastodon-sidekiq
After=network.target

[Service]
Type=simple
User=mastodon
WorkingDirectory=/var/lib/mastodon/live
Environment="RAILS_ENV=production"
Environment="LD_PRELOAD=libjemalloc.so"
EnvironmentFile=/etc/default/mastodon-sidekiq
ExecStart=/usr/local/bin/bundle exec sidekiq \
  --concurrency "$SIDEKIQ_CONCURRENCY" \
  --timeout 25
TimeoutSec=30
Restart=on-failure
StandardOutput=file:/var/log/mastodon/mastodon-sidekiq.log

# Proc filesystem
ProcSubset=pid
ProtectProc=invisible

# Capabilities
CapabilityBoundingSet=

# Security
NoNewPrivileges=true

# Sandboxing
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_NETLINK
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
ProtectClock=true

# System Call Filtering
SystemCallArchitectures=native
SystemCallFilter=~@cpu-emulation @debug @keyring @ipc @mount @obsolete @privileged @setuid
SystemCallFilter=@chown
SystemCallFilter=pipe
SystemCallFilter=pipe2
ReadWritePaths=/var/lib/mastodon/live

[Install]
WantedBy=multi-user.target
