[Unit]
Description=Timer of PostgreSQL backup
ConditionPathExists=/var/lib/postgres-backup

[Timer]
OnCalendar={{ postgres_backup_on_calendar }}
Persistent=true

[Install]
WantedBy=timers.target
