[Unit]
Description=PostgreSQL backup service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/postgres-backup
ExecStart=/usr/local/bin/postgres-backup
