[Unit]
Description=OCSP responder by OpenSSL
Documentation=https://www.openssl.org/
After=network.target

[Service]
Restart=always
User=ocsp-responder
Environment="DATA_DIR=/var/lib/ocsp-responder/{{ item }}"
EnvironmentFile=/etc/default/openssl-ocsp-responder-{{ item }}
ExecStart=/bin/bash /usr/bin/openssl-ocsp-responder
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
