[Unit]
Description=OCSP responder by OpenSSL
Documentation=https://www.openssl.org/
After=network.target

[Service]
Type=simple
Restart=always
User=ocsp-responder
Environment="DATA_DIR=/var/lib/ocsp-responder/{{ item }}"
EnvironmentFile=/etc/default/openssl-ocsp-responder-{{ item }}
ExecStart=/usr/bin/openssl ocsp \
  -port "$PORT" \
  -index "$DATA_DIR/index.txt" \
  -CA "$DATA_DIR/cacert.pem" \
  -rsigner "$DATA_DIR/cacert.pem" \
  -rkey "$DATA_DIR/privkey.pem" \
  -ndays "$UPDATE_DAYS" \
  -ignore_err \
  $EXTRA_ARGS
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
