[Unit]
Description=OCSP responder by OpenSSL
Documentation=https://www.openssl.org/
After=network.target

[Service]
Type=simple
Restart=always
User=ocsp-responder
EnvironmentFile=/etc/default/openssl-ocsp-responder-{{ item }}
ExecStart=/usr/bin/openssl ocsp \
  -ignore_err \
  -index /etc/pki/ocsp/{{ item }}/index.txt \
  -CA /etc/pki/ocsp/{{ item }}/cacert.pem \
  -rsigner /etc/pki/ocsp/{{ item }}/cacert.pem \
  -rkey /etc/pki/ocsp/{{ item }}/privkey.pem \
  -port "$PORT" \
  -ndays "$UPDATE_DAYS" \
  $EXTRA_ARGS
TimeoutStopSec=20s

[Install]
WantedBy=multi-user.target
