{
	auto_https disable_redirects
	skip_install_trust

	log default {
		output file /var/log/caddy/default.log {
			roll_disabled
		}
		format json
	}

	pki {
		ca local {
			name "{{ caddy_pki_ca_local_name }}"
			root_cn "{{ caddy_pki_ca_local_root_cn }}"

			intermediate_lifetime 30d

			root {
				cert /etc/pki/caddy/ca/local/root.crt
				key /etc/pki/caddy/ca/local/root.key
			}
		}
	}
}

import sites.d/*.Caddyfile
